{% extends "dnd5e/base.html" %}

{% load bootstrap4 %}

{% block title %}{{ char }}{% endblock title %}

{% block before-content %}
    <nav class="m-4">
        <ol class="breadcrumb bg-light">
            <li class="breadcrumb-item"><a href="{% url 'dnd5e:adventure:detail' adventure.id %}">{{ adventure }}</a></li>
            <li class="breadcrumb-item active">TODO Персонажи</li>
            <li class="breadcrumb-item active">{{ char }}</li>
        </ol>
    </nav>
{% endblock before-content %}

{% block content %}
<div class="row">
    <div class="col">
        {% bootstrap_messages %}
        <div class="btn-group">
            <a href="{% url 'dnd5e:adventure:character:set_stats' adventure.id char.id %}" class="btn btn-primary">Ред. характеристики</a>
            <button class="btn btn-primary dropdown-toggle{% if not total_choices %} disabled{% endif %}" data-toggle="dropdown" type="button">Сделать выбор <span class="badge badge-light">{{ total_choices }}</span></button>
            <div class="dropdown-menu">
                {% for choice in choices %}
                    <a href="{% url 'dnd5e:adventure:character:resolve_choice' adventure.id char.id choice.id %}" class="dropdown-item{% if blocking_choices and not choice.choice.important %} disabled{% endif %}">{{ choice.choice }}</a>
                {% endfor %}
            </div>
            <a href="{% url 'dnd5e:adventure:character:level_up' adventure.id char.id %}" class="btn btn-primary">Level Up!</a>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ char.name }}{% if char.party_id %} из {{ char.party }}{% endif %}</h4>
                <hr>
                <ul class="list-unstyled">
                    <li><strong>Раса: </strong>{% if char.subrace %}{{ char.subrace }}{% else %}{{ char.race }}{% endif %}</li>
                    <li><strong>Класс: </strong>{% if char.subclass %}{{ char.subclass }}{% else %}{{ char.klass }}{% endif %} {{ char.level }} уровень</li>
                    <li><strong>Пол: </strong>{{ char.get_gender_display }}</li>
                    <li><strong>Возраст: </strong>{{ char.age }}</li>
                    <li><strong>Мировозрение: </strong>{{ char.get_alignment_display }}</li>
                    <li><strong>Владение языками: </strong>{% for lang in char.languages.all %}{{ lang.name }} {% endfor %}</li>
                    {% spaceless %}
                    <li>
                        <strong>Владение инструментами: </strong>
                        {% for tool in char.tools_proficiency.all %}
                            {% if tool.competence %}<b>&#8251;</b>{% endif %}
                            <span>{{ tool|capfirst }}{% if not forloop.last %}, {% endif %}</span>
                        {% empty %}Нет
                        {% endfor %}
                    </li>{% endspaceless %}
                    <li><strong>Кости здоровья: </strong>{% for dice in char.dices.all %}{% if dice.dtype == 'hit' %}{{ dice }} {% endif %}{% endfor %}</li>{# FIXME dirty values spaces #}
                    <li><strong>Умения и особенности: </strong></li>
                    {% for feat in char.features.all %}<li><span class="badge badge-light">{{ feat.feature.source.name }}</span>{{ feat.feature }} {% if feat.max_charges %}{{ feat.max_charges }}{% endif %}</li>{% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}