{% extends "dnd5e/base.html" %}

{% load static bootstrap4 %}

{% block title %}Выбор для {{ char }}{% endblock title %}

{% block styles %}
    {{ block.super }}
    {{ form.media.css }}
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
{% endblock styles %}

{% block javascript %}
    {{ block.super }}
    {{ form.media.js }}
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
{% endblock javascript %}

{% block before-content %}
    <nav class="m-4">
        <ol class="breadcrumb bg-light">
            <li class="breadcrumb-item"><a href="{% url 'dnd5e:adventure:detail' adventure.id %}">{{ adventure }}</a></li>
            <li class="breadcrumb-item active">TODO Персонажи</li>
            <li class="breadcrumb-item"><a href="{% url 'dnd5e:adventure:character:detail' adventure.id char.id %}">{{ char }}</a></li>
            <li class="breadcrumb-item">Выбор для персонажа</li>
        </ol>
    </nav>
{% endblock before-content %}

{% block content %}
    {% if template %}
        {% include "dnd5e/adventures/include/choices/advance_001.html" %}
    {% else %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">{{ choice.reason }}: {{ choice.choice.text }}</div>
                <div class="card-body">
                    <form method="POST" class="form-inline">
                        {% csrf_token %}
                        {% bootstrap_form form show_label=False %}
                        {% bootstrap_button "Изменить" button_type="submit" button_class="btn-primary" %}
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock content %}