{% extends "dnd5e/base.html" %}

{% load static bootstrap4 %}

{% block title %}Изменить предысторию для {{ char }}{% endblock title %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/set_stats.js' %}"></script>
{% endblock javascript %}
{% block before-content %}
    <nav class="m-4">
        <ol class="breadcrumb bg-light">
            <li class="breadcrumb-item"><a href="{% url 'dnd5e:adventure:detail' adventure.id %}">{{ adventure }}</a></li>
            <li class="breadcrumb-item active">TODO Персонажи</li>
            <li class="breadcrumb-item"><a href="{% url 'dnd5e:adventure:character:detail' adventure.id char.id %}">{{ char }}</a></li>
            <li class="breadcrumb-item">Предыстория</li>
        </ol>
    </nav>
{% endblock before-content %}

{% block content %}
<div class="row mt-3">
    <div class="col">
        <div class="card">
            <h5 class="card-header text-center">Предыстория — {{ char.background }}</h5>
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button class="btn btn-primary btn-block" type="summit">Изменить</button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}