{% extends "dnd5e/base.html" %}

{% load static bootstrap4 %}

{% block title %}Изменить мастерство в навыках для {{ char }}{% endblock title %}

{% block styles %}
    {{ block.super }}
    {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">  #}
    <link rel="stylesheet" href="{% static 'css/bootstrap-select.min.css' %}">
{% endblock styles %}

{% block javascript %}
    {{ block.super }}
    {# <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script> #}
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
{% endblock javascript %}

{% block before-content %}
    <nav class="m-4">
        <ol class="breadcrumb bg-light">
            <li class="breadcrumb-item"><a href="{% url 'dnd5e:adventure:detail' adventure.id %}">{{ adventure }}</a></li>
            <li class="breadcrumb-item active">TODO Персонажи</li>
            <li class="breadcrumb-item"><a href="{% url 'dnd5e:adventure:character:detail' adventure.id char.id %}">{{ char }}</a></li>
            <li class="breadcrumb-item">Мастерство в навыках</li>
        </ol>
    </nav>
{% endblock before-content %}

{% block content %}
<div class="row mt-3">
    <div class="col">
        <div class="card">
            <h5 class="card-header text-center">Навыки</h5>
            <div class="card-body">
                <h5 class="card-title">Текущие навыки</h5>
                <ul class="list-group">
                {% for skill in current %}
                    <li class="list-group-item bg-light">
                        <span>{{ skill }}</span>
                        {% if skill.from_background %}
                            <span class="badge badge-primary"> {{ char.background }}</span>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
                <hr>
                <h5 class="card-title">Выбрать классовый навыки. (Макс: {{ char.klass.skill_proficiency_limit }})</h5>
                <form action="" method="POST" class="form-inline">
                    {% csrf_token %}
                    {% bootstrap_field form.skills show_label=False %}
                    {% bootstrap_button "Изменить" button_type="submit" button_class="btn-primary" %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}